<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SmartMenu</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>MenuServlet</servlet-name>
		<servlet-class>servlet.MenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenuServlet</servlet-name>
		<url-pattern>/getMenu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReviewServlet</servlet-name>
		<servlet-class>servlet.ReviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReviewServlet</servlet-name>
		<url-pattern>/getReview</url-pattern>
	</servlet-mapping>
</web-app>